.new-form-holder {
    margin: 2% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 20%;
}

.create-spread-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.create-post-post {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    font-size: 14px;
    background-color: #2b2b2b;
    border: 2px solid #444444;
    color: white;
    margin: 10px 0px;
}

.create-form-input {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    font-size: 14px;
    background-color: #2b2b2b;
    border: 2px solid #444444;
    color: white;
    margin: 10px 0px;
}

.create-form-input::-webkit-outer-spin-button,
.create-form-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.create-form-input:focus {
    border: 2px solid #44fff0;
    outline: none;
}

.create-new-spread-button {
    align-self: center;
    background-color: #44fff0;
    color: black;
    width: 30%;
}

.create-spread-description {
    resize: none;
    background-color: #2b2b2b;
    border: 2px solid #444444;
    overflow-y: auto;
    height: 150px;
    margin: 10px 0px;
    width: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    color: white;
}

.create-spread-description:focus {
    border: 2px solid #44fff0;
    outline: none;
}

.new-form-holder {
    font-size: 1.5rem;
}

.new-form-holder p {
    margin-bottom: 1% !important;
}

.create-input-container {
    height: 100%;
    width: 100%;
}

.create-post-form {
    height: 50%;
    width: 100%;
}

.new-form-holder {
    height: 100%;
}
