* {
    font-family: "MaisonNueBook";
}
.splash-page-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
}
.splash-page-header {
    color: rgb(0, 0, 0);
    margin: 0.2rem;
    font-size: 3.5rem;
}
.splash-page-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    font-size: 3.5rem;
    /* max-width: 50rem; */
    width: 100%;
    height: 30rem;
    margin-bottom: 3rem;
}

.white-line-splash {
    width: 80%;
    height: 1.4rem;
    border-radius: 15%;
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 2%;
    align-self: center;
}
.spreads-splash-div h2 {
    font-size: 3rem;
    margin-top: 10%;
}
.spreads-splash-div h6 {
    font-size: 1.2rem;
    margin-top: 2%;
}

.spreads-splash-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.posts-splash-div * {
    font-size: 3rem;
}

.splash-page-container-logout {
    display: flex;
    justify-content: center;
}
.footer{
    position:fixed;
    bottom:0;
    left:0;
    margin-top: -1%;
    height: 5%;
    width: 100%;
    clear: both;
    background-color: rgb(156, 156, 156);
    display: flex;
    flex-direction: row;
}
.creator-info-column {
    display: flex;
    flex-direction: row;
    margin-right: 5rem;
}

.info-div-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.networking-links {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.technology-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.technology-list li {
    margin-right: 1rem;
    margin-left: 1rem;
}
.spreaddit-logo-img {
    max-height: 25vh;
    align-self: center;
}

.logout-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.splash-page-container-heropage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-bottom: 4rem;
    padding-top: 2rem;
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #ffbeb4 0%, #ffa2b5 55%, #FF99AC 100%);
    width: 50%;
    border-radius: 25%;
}
.splash-page-container-heropage h1 {
    font-size: 5rem;
}

.splash-page-container-logout {
    width: 100%;
}

html,
body {
    height: 100%;
}

.footer-link p {
    margin-left: 1rem;
    margin-right: 1rem;
}

.technology {
    margin-left: .5rem;
}

.first-item {
    margin-left: 0 !important;
}

.bottom-link {
    color:rgb(255, 255, 255);
}

.networking-links a{
    color: #33f2e2;
    font-size: 1.1rem;
    font-weight: 600;
}

.spreaddit-app-description {
    font-size: 1.8rem;
    max-width: 80%;
    margin-top: 1.5rem;
}
