.form-container-div {
    display: grid;
    justify-content: center;
}

.signup-container {
    width: 35rem;
}

.signup-username-input {
    margin-bottom: 18px;
}

.signup-username-input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    background-color: #2b2b2b;
    border: 2px solid #444444;
    color: white;
}

.signup-username-input:focus {
    outline: none !important;
    border: 2px solid #44fff0;
}

.signup-username-container {
    margin-bottom: 18px;
}

.signup-email-container {
    margin-bottom: 18px;
}

.signup-email-input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    background-color: #2b2b2b;
    border: 2px solid #444444;
    color: white;
}

.signup-email-input:focus {
    outline: none !important;
    border: 2px solid #44fff0;
}

.signup-image-container {
    margin-bottom: 18px;
}

.signup-image-input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    background-color: #2b2b2b;
    border: 2px solid #444444;
    color: white;
}

.signup-image-input:focus {
    outline: none !important;
    border: 2px solid #44fff0;
}

.signup-fullname-container {
    margin-bottom: 18px;
}

.signup-fullname-input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    background-color: #2b2b2b;
    border: 2px solid #444444;
    color: white;
}

.signup-fullname-input:focus {
    outline: none !important;
    border: 2px solid #44fff0;
}

.signup-password-container {
    margin-bottom: 18px;
}

.signup-password-input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    background-color: #2b2b2b;
    border: 2px solid #444444;
    color: white;
}

.signup-password-input:focus {
    outline: none !important;
    border: 2px solid #44fff0;
}

.signup-rpassword-container {
    margin-bottom: 18px;
}

.signup-rpassword-input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    background-color: #2b2b2b;
    border: 2px solid #444444;
    color: white;
}
.signup-button {
    background-color: #1e939e;
    width: 100%;
    padding: 10.5px 18px;
    border: none;
    transition: background-color .5s;
    cursor: pointer;
    border: 2px inset;
}


.signup-button:hover {
    background-color: #28d5e5;
}

.login-button {
    background-color: #1e939e;
    width: 80%;
    padding: 10.5px 18px;
    border: none;
    transition: background-color .5s;
    cursor: pointer;
    border: 2px inset;
}


.login-button:hover {
    background-color: #28d5e5;
}

.demo-button {
    background-color: #578200;
    border: none;
    transition: background-color .5s;
    cursor: pointer;
    border: 2px inset;
}

.demo-button:hover {
    background-color: #8cd300;
}

.signup-container-outer {
    min-height: 16%;
    margin-top: 5%;
    background-color: white;
    padding: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10%;
    height: 100%;
    align-items: center;
}

.signup-container label {
    font-size: 1.5rem;
}

.signup-h1 {
    margin-bottom: 2rem;
    margin-top: -1rem;
}
