.profile-spread-card-container {
    max-height: 20rem;
    border-radius: 10rem;
    margin-bottom: 3%;

}
.profile-spread-image {
    max-height: 23rem;
    min-width: 29rem;
    border-radius: 10rem;
    object-fit: cover;
}
.profile-spreads-list-container {
    display: flex;
    flex-direction: column;
    width: 65%;
    max-height: 50rem;
    overflow-y: scroll;
    padding: .25em;
    border: .25em solid transparent;
    background:
    linear-gradient(to bottom, rgb(138, 52, 52), rgba(187, 187, 187, 0.522)) content-box,
    linear-gradient(to right, #961304d0, #8a1e12a4) padding-box,
    linear-gradient(to right, #3a87bb, #06263c95) border-box;
    border-radius: 5%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: rgba(0, 0, 0, 0.26) 0px 10px 30px 0px, rgba(0, 0, 0, 0.10) 0px 0px 0px 5px;
}

.profile-spread-div {
    display: flex;
    flex-direction: row;
}

.spread-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10rem;
    overflow-y: hidden;
}

.profile-spread-div {
    border-radius: 10rem;
    background-color: #E3FFFF;
    margin-bottom: 1rem;
    max-height: 23rem;
}

.profile-spread-div-title {
    display: flex;
    align-items: center;
    margin-left: 3%;
    font-weight:600;
    font-size: 2.2rem;
    width: 30%;
    max-width: 30%;
}

.profile-spread-div h3 {
    color: black;
    font-size: 3rem;
    font-weight: bolder;
}
.profile-spread-view-button {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    margin-right: 3%;
    width: 50%;
    max-width: 50%;
}

::-webkit-scrollbar {
    width: 10px;
    overflow-y: hidden;
    display: none;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
::-webkit-scrollbar {
    display: none;
  }

.no-spread-alert {
    display: flex;
    justify-content: center;
}
