.profile-page-container {
    display: flex;
    flex-direction: column;
}
.profile-title-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    font-size: 2.5rem;
}

.profile-image-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.profile-image-div img {
    border-radius: 5rem;
}

.friends-label-div {
    align-self:center;
    margin-right: 65%;
    margin-top: 5%;
}
.friends-label-div * {
    font-size: 3rem;
}
.white-line-profile {
    width: 80%;
    height: 1.4rem;
    border-radius: 15%;
    background-color: white;
    margin-top: 1rem;
    align-self: center;
}
.friends-list-div {
    display:flex;
    flex-direction: column;
    justify-content: center;

}
.friend-info-div {
    display: flex;
    flex-direction: row;
    width: 68%;
    margin-left: 10%;
    margin-top: .2%;
    align-self: center;
    justify-content:space-between;
}
.grey-line-friends {
    width: 70%;
    height: 1.4rem;
    border-radius: 15%;
    background-color: grey;
    margin-top: 3%;
    margin-left: 10%;
    align-self: center;
}

.profile-name-div img{
    max-height: 1rem;
}
