body {
    margin: 0px;
    background-color: #D8D8D8;
}

.banner-upper-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    height: 100%;
    background-color: #a82727;
    border-bottom: 1px solid #444444;
}

.banner-upper-container-loggedout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    height: 100%;
    background-color: #a82727;
    border-bottom: 1px solid #444444;
}

.nav-button {
    cursor: pointer;
    color: white;
} .nav-button:hover {
    color: #eb6464;
    transition: color 1s;
}

.banner-left-button-container {
    font-family: "MaisonNueBook";
    color: white;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 1%
} .banner-create-post {
    margin-left: 20px;
}

.banner-right-button-container {
    color: white;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 1%;
    justify-content: space-around;
    margin-right: 2%;
    width: 8%;
} .banner-logout {
    margin-right: 20px;
}

.banner-right-button-container p {
    font-size: 1.5rem;
}

.banner-lower-container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #444444;
} .lower-nav-button {
    margin-left: 18px;
    margin-right: 18px;
}
.log-out-button {
    font-size: 1.5rem;
}
.spreaddit-logo {
    font-size: 1.5rem;
}

.top-nav-bar {
    width: 100%;
    height: 5rem;
}

.banner-left-side-div {
    display: flex;
    flex-direction: row;

}

.banner-left-side-div * {
 margin-left: 1rem;
 font-size: 1.5rem;
}
.banner-right-side {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    margin-right: 2rem;
}

.banner-right-side * {
    font-size: 1.5rem;
    margin-right: 1rem;
}



.create-button-div {
    display: flex;
    flex-direction:row;
    align-items: center;
}

.banner-right-button-container {
    display: flex;
    flex-direction: row;
    justify-content:  space-around;
    align-content:space-around;
}
